-i https://pypi.org/simple/
altgraph==0.17
certifi==2020.12.5
chardet==4.0.0
ecdsa==0.16.1
esptool==3.0
future==0.18.2
idna==3.1
macholib==1.14
netifaces==0.10.9
pefile==2021.5.13
pyaes==1.6.1
pyinstaller==4.3
pyqt5-sip==12.9.0
pyqt5==5.15.4
pyserial==3.5
requests==2.25.1
urllib3==1.26.4
zeroconf==0.30.0
